# pyinstaller related files
build
dist
*.spec

# Test files
Defs.xml
Languages.xml
Patches.xml

# Python cache files
__pycache__

# viztracer related files
result.json

# python vitrual environment
.venv